<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 mx-auto">
                <h1 class="text-dark text-center">Niveles de riesgo por Dominios</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Inicio</a></li>
                    <li class="breadcrumb-item active">Guia II</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <!-- ***************************** 1 y 2 *************************** -->
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Condiciones en el ambiente de trabajo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="conAmbienteTrabajo.pieChartData"
                                        [data]="conAmbienteTrabajo.pieChartData" 
                                        [labels]="conAmbienteTrabajo.pieChartLabels" 
                                        [chartType]="conAmbienteTrabajo.pieChartType" 
                                        [options]="conAmbienteTrabajo.pieChartOptions"
                                        [plugins]="conAmbienteTrabajo.pieChartPlugins"
                                        [colors]="conAmbienteTrabajo.pieChartColors" 
                                        [legend]="conAmbienteTrabajo.pieChartLegend">
                                          </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Carga de trabajo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="cargaTrabajo.pieChartData"
                                        [data]="cargaTrabajo.pieChartData" 
                                        [labels]="cargaTrabajo.pieChartLabels" 
                                        [chartType]="cargaTrabajo.pieChartType" 
                                        [options]="cargaTrabajo.pieChartOptions" 
                                        [plugins]="cargaTrabajo.pieChartPlugins" 
                                        [colors]="cargaTrabajo.pieChartColors" 
                                        [legend]="cargaTrabajo.pieChartLegend">
                                      </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***************************** 3 y 4 *************************** -->
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Falta de control sobre el trabajo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="faltaControlTrabajo.pieChartData"
                                         [data]="faltaControlTrabajo.pieChartData" 
                                         [labels]="faltaControlTrabajo.pieChartLabels"
                                         [chartType]="faltaControlTrabajo.pieChartType"
                                         [options]="faltaControlTrabajo.pieChartOptions" 
                                         [plugins]="faltaControlTrabajo.pieChartPlugins" 
                                         [colors]="faltaControlTrabajo.pieChartColors" 
                                         [legend]=" faltaControlTrabajo.pieChartLegend">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Jornada de trabajo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="jornadaTrabajo.pieChartData"
                                           [data]="jornadaTrabajo.pieChartData" 
                                           [labels]="jornadaTrabajo.pieChartLabels" 
                                           [chartType]="jornadaTrabajo.pieChartType" 
                                           [options]="jornadaTrabajo.pieChartOptions"
                                           [plugins]="jornadaTrabajo.pieChartPlugins" 
                                           [colors]="jornadaTrabajo.pieChartColors" 
                                           [legend]="jornadaTrabajo.pieChartLegend">
                                    </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***************************** 5 y 6 *************************** -->
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Interferencia en la relación trabajo-familia</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="interferenciaTrabajoFam.pieChartData"
                                           [data]="interferenciaTrabajoFam.pieChartData" 
                                           [labels]="interferenciaTrabajoFam.pieChartLabels" 
                                           [chartType]="interferenciaTrabajoFam.pieChartType" 
                                           [options]="interferenciaTrabajoFam.pieChartOptions" 
                                           [plugins]="interferenciaTrabajoFam.pieChartPlugins" 
                                           [colors]="interferenciaTrabajoFam.pieChartColors" 
                                           [legend]="interferenciaTrabajoFam.pieChartLegend">
                                      </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Liderazgo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf=" liderazgo.pieChartData"
                                        [data]="liderazgo.pieChartData" 
                                        [labels]="liderazgo.pieChartLabels" 
                                        [chartType]="liderazgo.pieChartType" 
                                        [options]="liderazgo.pieChartOptions"
                                        [plugins]="liderazgo.pieChartPlugins"
                                        [colors]="liderazgo.pieChartColors" 
                                        [legend]="liderazgo.pieChartLegend">
                                  </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ***************************** 7 y 8 *************************** -->
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Relaciones en el trabajo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="relacionTrabajo.pieChartData"
                                        [data]="relacionTrabajo.pieChartData" 
                                        [labels]="relacionTrabajo.pieChartLabels" 
                                        [chartType]="relacionTrabajo.pieChartType" 
                                        [options]="relacionTrabajo.pieChartOptions" 
                                        [plugins]="relacionTrabajo.pieChartPlugins" 
                                        [colors]="relacionTrabajo.pieChartColors" 
                                        [legend]="relacionTrabajo.pieChartLegend">
                                      </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Violencia</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="violencia.pieChartData"
                                        [data]="violencia.pieChartData" 
                                        [labels]="violencia.pieChartLabels"
                                        [chartType]="violencia.pieChartType" 
                                        [options]="violencia.pieChartOptions" 
                                        [plugins]="violencia.pieChartPlugins" 
                                        [colors]="violencia.pieChartColors" 
                                        [legend]="violencia.pieChartLegend">
                                  </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="irListado()" class="btn btn-danger btn-block">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->