<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h1 class="m-0 text-dark">Quejas y Sugerencias</h1>
          </div>
          <!-- /.col -->
          <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                  <li class="breadcrumb-item active">Quejas y sugerencias</li>
              </ol>
          </div>
          <!-- /.col -->
      </div>
      <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <h3 class="card-title">Listado de Quejas y sugerencias</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <a [routerLink]="['/sugerenciasadd']">
                            <div class="btn btn-warning float-sm-right"><i class="nav-icon fas fa-plus text-white"></i></div>
                        </a>
                        <br><br>
                    </div>
                </div>
                  <table id="example1" class="table table-bordered table-striped">
                      <thead>
                          <tr>

                              <th>Tipo</th>
                              <th>Descripcion</th>
                              <th>Trabajador</th>
                              <th class="text-center">Estado</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tbody>
                              <tr *ngFor="let sugerencia of listaSugerencias">
                                  <td>{{sugerencia.tipo}}</td>
                                  <td>{{sugerencia.descripcion}}</td>
                                  <td>{{sugerencia.nombre}}</td>
                                  <td class="text-center">

                                     <button *ngIf="sugerencia.status" type="button" class="btn btn-primary" (click)="cambiarStatus(sugerencia.id,false)">Procede</button>

                                     <button  *ngIf="!sugerencia.status"  type="button" class="btn btn-success" (click)="cambiarStatus(sugerencia.id,true)" >No Procede</button>


                                  </td>
                              </tr>
                          </tbody>
                          <tfoot>
                              <tr>
                                <th>Tipo</th>
                                <th>Descripcion</th>
                                <th>Trabajador</th>
                                <th class="text-center">Estado</th>
                              </tr>
                          </tfoot>
                  </table>
              </div>
              <!-- /.card-body -->
          </div>
          <!-- /.card -->
      </div>
      <!-- /.col -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container-fluid -->