<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Trabajadores</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Trabajadores</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado de Trabajadores</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            
                                <div class="btn btn-warning float-sm-right" (click)="irTrabajadoresadd()"><i class="nav-icon fas fa-plus text-white"></i></div>
                           
                            <br><br>
                        </div>
                    </div>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Nombres y apellidos</th>
                                <th>Cargo</th>
                                <th>Teléfono</th>
                                <th>E-mail</th>
                                <th>Tipo de Puesto</th>
                                <th class="text-center">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tbody>
                                <tr *ngFor="let persona of listaTrabajadores">
                                    <td>{{ persona.nombre }}</td>
                                    <td>{{ persona.ocupacion }}</td>
                                    <td>{{ persona.telefono }}</td>
                                    <td>{{ persona.email }}</td>
                                    <td>{{ persona.tipo_puesto }}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3 text-center">
                                                <button type="button" class="btn btn-success btn-sm" title="Editar" (click)="irEditar(persona.id)">
                                                    <i class="nav-icon fas fa-edit text-white"></i>
                                                </button>

                                            </div>
                                            <div class="col-md-3 text-center">
                                                <button type="button" class="btn btn-danger btn-sm" title="Eliminar" (click)="eliminar_trabajador(persona.id,persona.nombre)">
                                                    <i class="nav-icon fas fa-trash text-white"></i>
                                                </button>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Nombres y apellidos</th>
                                    <th>Documento</th>
                                    <th>Teléfono</th>
                                    <th>E-mail</th>
                                    <th>Tipo de contrato</th>
                                    <th style="text-align: center;">Opciones</th>
                                </tr>
                            </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
<script>
    $(document).ready(function() {
        $('.mdb-select').materialSelect();
    });
</script>