<!-- Content Header (Page header) -->
<div class="content-header">
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card card-primary card-outline">
                <form (ngSubmit)="guardarAddGuia3(forma)" #forma="ngForm">
                  <div class="card-body box-profile">
                      <div class="row">
                         <div class="content-header">
                            <div class="container-fluid">
                                <!-- /.row -->
                            </div>
                            <!-- /.container-fluid -->
                         </div>
                        <!-- /.content-header -->
                            <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="card">
                                        <div class="row">
                                            <div class="col-md-12 text-center">
                                                <span><strong>CUESTIONARIO PARA IDENTIFICAR LOS FACTORES DE RIESGO PSICOSOCIAL Y EVALUAR EL<br/> ENTORNO ORGANIZACIONAL EN LOS CENTROS DE TRABAJO</strong></span>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div *ngFor="let seccion of infoGuiaService.guia3; let i = index">
                                                <div *ngIf="i<12" style="height: min-content; vertical-align: bottom; margin: 0px; padding: 2px;">
                                                    {{ seccion.seccion }}
                                                </div>
                                                <table *ngIf="i<12" class="table table-bordered">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th colspan="2"></th>
                                                            <th width="6%">Siempre</th>
                                                            <th width="6%">Casi<br/>Siempre</th>
                                                            <th width="6%">Algunas<br/>Veces</th>
                                                            <th width="6%">Casi<br/>nunca</th>
                                                            <th width="6%">Nunca</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let pregunta of seccion.pregunta; let j = index">
                                                             <td width="3%" >{{ pregunta.num }}</td>
                                                             <td>{{ pregunta.preg }}</td>
                                                            
                                                             <td *ngFor="let key of radioOptions" width="6%" class="text-center">
                                                                  <div *ngIf="verificarPregunta(pregunta.num)">
                                                                      <input id="ra_{{pregunta.num}}" [value]='key.op1' type="radio" name="{{pregunta.num}}" ngModel>
                                                                  </div>
                                                                  <div *ngIf="!verificarPregunta(pregunta.num)">
                                                                     <input id="ra_{{pregunta.num}}" [value]='key.op2' type="radio" name="{{pregunta.num}}" ngModel>  
                                                                  </div>
                                                             </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                             <!-- <div style="height: min-content; vertical-align: bottom; margin: 0px; padding: 2px;">
                                                {{ infoGuiaService.guia2[6].seccion}}
                                              </div>
                                               <table  class="table table-bordered">
                                                <tbody>
                                                     <tr>
                                                         <td rowspan="2">{{ infoGuiaService.guia2[6].pregunta[0].preg}}</td>
                                                         <td>Si</td>
                                                         <td><input id="si_1" value="si" type="radio" name="no_1" (change)="validarRadio($event,1)"></td>
                                                     </tr>
                                                     <tr>
                                                         <td>No</td>
                                                         <td><input id="si_1" value="no" type="radio" name="no_1" (change)="validarRadio($event,1)"></td>
                                                     </tr>
                                                 </tbody>
                                             </table> -->

                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    
                                </div>
                                <div class="col-md-1 "></div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            </div>
                        
                      </div>
                       <hr/>
                     <button type="submit" class="btn btn-primary btn-block"><b>Guardar Cambios</b></button>
                  </div>
                </form>
            </div>
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
