<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 mx-auto">
                <h1 class="text-dark text-center">Niveles de riesgo por Categoría</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Inicio</a></li>
                    <li class="breadcrumb-item active">Guia II</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Ambiente de trabajo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="ambienteTrabajo.pieChartData"
                                         [data]="ambienteTrabajo.pieChartData"
                                         [labels]="ambienteTrabajo.pieChartLabels" 
                                         [chartType]="ambienteTrabajo.pieChartType" 
                                         [options]="ambienteTrabajo.pieChartOptions" 
                                         [plugins]="ambienteTrabajo.pieChartPlugins" 
                                         [colors]="ambienteTrabajo.pieChartColors"
                                         [legend]="ambienteTrabajo.pieChartLegend">
                                            </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Factores propios de la actividad</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="propiosActividad.pieChartData"
                                        [data]="propiosActividad.pieChartData" 
                                        [labels]="propiosActividad.pieChartLabels"
                                        [chartType]="propiosActividad.pieChartType" 
                                        [options]="propiosActividad.pieChartOptions" 
                                        [plugins]="propiosActividad.pieChartPlugins"
                                        [colors]="propiosActividad.pieChartColors" 
                                        [legend]="propiosActividad.pieChartLegend">
                                        </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Organización del tiempo de trabajo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="tiempoTrabajo.pieChartData"
                                          [data]="tiempoTrabajo.pieChartData"
                                          [labels]="tiempoTrabajo.pieChartLabels"
                                          [chartType]="tiempoTrabajo.pieChartType" 
                                          [options]="tiempoTrabajo.pieChartOptions" 
                                          [plugins]="tiempoTrabajo.pieChartPlugins"
                                          [colors]="tiempoTrabajo.pieChartColors" 
                                          [legend]="tiempoTrabajo.pieChartLegend">
                                          </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mx-auto">
                            <div class="card">
                                <div class="card-header text-center mt-2">
                                    <h4>Liderazgo y relaciones en el trabajo</h4>
                                </div>
                                <div class="card-block mt-2">
                                    <div class="chart">
                                        <canvas baseChart *ngIf="liderazgoRelaciones.pieChartData"
                                          [data]="liderazgoRelaciones.pieChartData" 
                                          [labels]="liderazgoRelaciones.pieChartLabels" 
                                          [chartType]="liderazgoRelaciones.pieChartType" 
                                          [options]="liderazgoRelaciones.pieChartOptions"
                                          [plugins]="liderazgoRelaciones.pieChartPlugins" 
                                          [colors]="liderazgoRelaciones.pieChartColors"
                                          [legend]="liderazgoRelaciones.pieChartLegend">
                                      </canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" (click)="irListado()" class="btn btn-danger btn-block">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->