<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Agregar Sugerencia y/o Queja</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Nueva sugerencia y /o queja</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <!-- Contenido datos de empresa -->
                <form [formGroup]="formEditQuejaSugerencia" (ngSubmit)="guardarEditSugerenciaQueja()">
                    <div class="card-body mt-4">
                        <div class="row">
                            <div class="card card-infi col-md-12">
                                <div class="card-header">
                                    <h3 *ngIf="sugerencia.estatus==1" class="card-title"><strong>Investigar Queja o Sugerencia</strong></h3>
                                    <h3 *ngIf="sugerencia.estatus==2" class="card-title"><strong>Cerrar Queja o Sugerencia</strong></h3>
                                </div>
                                <div class="form-horizontal">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- text input -->
                                                <div [hidden]="sugerencia.estatus==2" class="form-group">
                                                    <label>Planteamiento</label>
                                                    <textarea [(ngModel)]="sugerencia.en_proceso" class="form-control" formControlName="en_proceso" id="en_proceso" rows="1"></textarea>
                                                </div>
                                                <div [hidden]="sugerencia.estatus==1" class="form-group">
                                                    <label>Conclusiónes</label>
                                                    <textarea [(ngModel)]="sugerencia.conclusion" class="form-control" formControlName="conclusion" id="conclusion" rows="1"></textarea>
                                                </div>
                                                <div *ngIf="sugerencia.estatus==2" class="form-group">
                                                    <select [(ngModel)]="sugerencia.status" class="form-control" formControlName="status">
                                                      <option value="">-- Seleccione --</option>
                                                      <option value="true">Procede</option>
                                                      <option value="false">No Procede</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <input [(ngModel)]="sugerencia.estatus" type="hidden" formControlName="estatus" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-info">Guardar Cambios</button>
                                            <button type="button" (click)="irListado()" class="btn btn-default float-right">Cancelar</button>
                                        </div>
                                        <!-- /.card-footer -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-1"></div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
