<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="text-center m-5 text-dark">Instrucciones</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-center profile-username "> Cuestionario No°2.</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h6> Esta encuesta esta basada en la NORMA OFICIAL MEXICANA (NOM-035) , la cual tiene como finalidad evaluar los factores de riesgo psicosocial, identificación, analisis y prevención en tu entorno de trabajo. <br> <br> Lea detalladamente
                                las instrucciones antes de comenzar el cuestionario.</h6>
                        </div>
                    </div>
                    <br>
                    <div class="container mb-4 align-justify" style="text-indent: 40px;">

                        <ul class="list-group mb-3">
                            <li class="list-group-item">
                                <b>1.- Todas las preguntas del cuestionario sin excepción alguna deben de ser contestadas </b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>2.- Selecione una de las opciones para cada pregunta</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>3.- Las preguntas para esta guía manejan criterios de evaluación</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>4.- Lee detalladamente cada preguta antes de contestar</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>5.- Selecciona en finalizar cuando hayas terminado el cuestionario</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                        </ul>
                    </div>

                    <button (click)="irGuia2()" type="button" class="btn btn-primary btn-block"><b>Iniciar Cuestionario</b></button>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->