<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="text-center m-5 text-dark">Instrucciones</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 *ngIf="paramInstr==1" class="text-center profile-username "> Cuestionario No°1.</h6>
                            <h6 *ngIf="paramInstr==2" class="text-center profile-username "> Cuestionario No°2.</h6>
                            <h6 *ngIf="paramInstr==3" class="text-center profile-username "> Cuestionario No°3.</h6>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <h6> Esta encuesta esta basada en la NORMA OFICIAL MEXICANA (NOM-035) , la cual tiene como finalidad evaluar los factores de riesgo psicosocial, identificación, analisis y prevención en tu entorno de trabajo. <br> <br> Lea detalladamente
                                las instrucciones antes de iniciar el cuestionario.</h6>
                        </div>
                    </div>
                    <br>
                    <div *ngIf="paramInstr==2 || paramInstr==3 " class="container mb-4 align-justify" style="text-indent: 40px;">

                        <ul class="list-group mb-3">
                            <li class="list-group-item">
                                <b>1.- Todas las preguntas del cuestionario deben de ser contestadas.</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>2.- Lea detalladamente cada pregunta antes de seleccionar su respuesta.</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                  <b>3.- En cada pregunta eliga una opción  como se muestra a continuación. <br> 
                                 <!-- <b>3.- En cada pregunta eliga una opción de respuesta para cada uno de los items.<br> -->
                                     <!-- <p class="text-center">[Siempre/Casi Siempre/Algunas veces/Casi nunca/Nunca]</p>  -->
                                    <img src="./assets/pregunta.png" style="height: 120px;" alt="" class="img-fluid mx-auto d-block" > 
                                </b> 
                            </li>
                            <li class="list-group-item">
                                <b>4.- Seleccione en [Guardar cambios] cuando haya finalizado la evaluación.</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>5.- Todas las respuestas seran manejadas de manera confidencial y para uso exclusivo de la empresa.</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="paramInstr==1" class="container mb-4 align-justify" style="text-indent: 40px;">

                        <ul class="list-group mb-3">
                            <li class="list-group-item">
                                <b>1.- Todas las preguntas del cuestionario deben de ser contestadas. </b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>2.- Lee detalladamente cada pregunta antes de seleccionar su respuesta.</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>3.- En cada pregunta eliga una opción como se muestra a continuación. <br>
                                      <!-- <p class="text-center">[Si/No]</p> -->
                                     <img src="./assets/pregunta2.png" style="height: 120px;" alt="" class="img-fluid mx-auto d-block" >
                                </b>
                            </li>
                            <li class="list-group-item">
                                <b>4.- Seleccione en [Guardar cambios] cuando haya finalizado la evaluación.</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                            <li class="list-group-item">
                                <b>5.- Todas las respuestas seran manejadas de manera confidencial y para uso exclusivo de la empresa.</b> <a class="float-right"><i class="fa fa-check"></i></a>
                            </li>
                        </ul>
                    </div>

                    <button (click)="irGuia()" type="button" class="btn btn-primary btn-block"><b>Iniciar Cuestionario</b></button>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->