<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 mx-auto">
                <h1 class="text-dark text-center">Estadísticas de la Guía II</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-4">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Inicio</a></li>
                    <li class="breadcrumb-item active">Guia II</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card mx-auto">
                                <img src="../../../../../assets/estadistic.png" style="width: 50%;" class="card-img-top mx-auto mt-3" alt="...">
                                <div class="card-body">
                                    <h5 class="mx-auto"><b><p>Total General</p></b></h5>
                                    <button type="button" (click)="verGraficaTotal()" class="btn btn-success btn-block">Ver gráficas</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mx-auto">
                                <img src="../../../../../assets/estadistic.png" style="width: 50%;" class="card-img-top mx-auto mt-3" alt="...">
                                <div class="card-body">
                                    <h5 class="mx-auto"><b><p>General por categorías</p></b></h5>
                                    <div *ngIf="mostrar">
                                        <p class="card-text" (click)="verGraficaAmbiente()" style="cursor: pointer;">- Ambiente de Trabajo</p>
                                        <p class="card-text" (click)="verGraficaFactores()" style="cursor: pointer;">- Factores propios de la actividad</p>
                                        <p class="card-text">- Cargas de alta responsabilidad</p>
                                        <p class="card-text">- Cargas contradictorias o inconsistentes</p>
                                        <p class="card-text">- Falta de control sobre el trabajo</p>
                                    </div>
                                    <button *ngIf="mostrar" type="button" (click)="mostrar = !mostrar" class="btn btn-danger btn-block mt-3">Ocultar</button>
                                    <button *ngIf="!mostrar" type="button" (click)="mostrar = !mostrar" class="btn btn-success btn-block mt-3">Ver gráficas</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="card mx-auto">
                                <img src="../../../../../assets/estadistic.png" style="width: 50%;" class="card-img-top mx-auto mt-3" alt="...">
                                <div class="card-body">
                                    <h5 class="mx-auto"><b><p>General por dominios</p></b></h5>
                                    <div *ngIf="mostrar2">
                                        <p class="card-text">- Condiciones en el ambiente de trabajo</p>
                                        <p class="card-text">- Carga de trabajo</p>
                                        <p class="card-text">- Falta de control y autonomía sobre el trabajo</p>
                                        <p class="card-text">- Limitada o nula posibilidad de desarrollo</p>
                                        <p class="card-text">- Limitada o inexistente capacitación</p>
                                    </div>
                                    <button *ngIf="mostrar2" type="button" (click)="mostrar2 = !mostrar2" class="btn btn-danger btn-block">Ocultar</button>
                                    <button *ngIf="!mostrar2" type="button" (click)="mostrar2 = !mostrar2" class="btn btn-success btn-block">Ver gráficas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->