<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="text-center m-5 text-dark">Política</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="row">
                       <!--<div class="text-center col-md-4">
                            <img class="profile-user-img img-fluid img-circle" src="../assets/img/logo_emp.png" alt="User profile picture">
                        </div> -->
                        <div class="text-center col-md-12">
                            <h3 class="profile-username text-center">Política de prevención de riesgos psicosociales</h3>
                        </div>
                    </div>
                    <hr/>
                    <div class="container mb-4 align-justify" style="text-indent: 40px;">En este centro de trabajo (Razón Social) en relación con la prevención de los factores de riesgo psicosocial.<br> La prevención de la violencia laboral, y la promoción de un entorno organizacional favorable, se asumen los compromisos
                        siguientes:
                        <p></p> 1. Es obligación de supervisores, gerentes y directores aplicar esta política y predicar con el ejemplo.<br>2. Los actos de violencia laboral no son tolerados, así como ningún incidente que propicie factores de riesgo psicosocial
                        o acciones en contra del entorno organizacional favorable<br>3. Se aplican medidas encaminadas a la prevención de los factores de riesgo psicosocial<br>4. la prevención de la violencia laboral, y la promoción de un entorno organizacional
                        favorable, para prevenir sus consecuencias adversas<br>4. Se cuenta con un procedimiento de atención justo, que no permite represalias y evita reclamaciones abusivas o carentes de fundamento, y que garantiza la confidencialidad
                        de los casos<br>5. Se realizan acciones de sensibilización, programas de información y capacitación<br>6. Se divulgan de forma eficaz las políticas de prevención y las medidas de prevención<br>7. Todos los trabajadores participan
                        para establecer y poner en práctica esta política en el lugar de trabajo<br>8. Se respeta al ejercicio de los derechos del personal para observar sus creencias o prácticas o para satisfacer sus necesidades relacionadas con la raza,
                        sexo, religión, etnia o edad o cualquier otra condición que pueda dar origen a la discriminación, y Se crean espacios de participación y consulta, teniendo en cuenta las ideas de los trabajadores y empleados.
                    </div>

                    <button (click)="irIntrucciones()" type="button" class="btn btn-primary btn-block"><b>Acepto haber leído la Política</b></button>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->