<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="text-center m-5 text-dark">Política</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="row">
                       <div class="text-center col-md-3">
                            <img [src]="empresa.logo" class="profile-user-img img-fluid img-circle" >
                        </div> 
                        <div class="text-center col-md-9">
                            <h3 class="profile-username ">{{politica.politica.nombre}}</h3>
                        </div>
                    </div>
                    <hr/>
                    <div class="container mb-4 align-justify"[innerHtml]="politica.politica.descripcion"  style="text-indent: 40px;">
                    </div>

                    <button (click)="irIntrucciones()" type="button" class="btn btn-primary btn-block"><b>Acepto haber leído la Política</b></button>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->