<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Empresa</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Empresa</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-12 text-center mt-3">
                        <h2><strong><img [src]="srcLogo" style="width: 200px; height: 160px;" class="img-fluid" > {{empresa.razon_social}} </strong></h2>
                    </div>
                </div>
                <!-- Contenido datos de empresa -->
                <div class="card-body mt-4">
                    <div class="row">
                        <div class="card card-infi col-md-6">
                            <div class="card-header">
                                <h3 class="card-title"><strong> Información de la empresa</strong></h3>
                            </div>
                            <div class="form-horizontal">
                                <div class="card-body">
                                    
                                    <div class="form-group row">
                                        <label for="razon_social" class="col-sm-2 col-form-label">Nombre</label>
                                        <div class="col-sm-10">
                                            <label class="col-sm-12 col-form-label font-weight-normal">{{empresa.razon_social}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="razon_social" class="col-sm-3 col-form-label">N°Trabajadores</label>
                                        <div class="col-sm-9">
                                            <label class="col-sm-12 col-form-label font-weight-normal">{{numeroTrabajadores }}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="razon_social" class="col-sm-3 col-form-label">Muestra</label>
                                        <div class="col-sm-9">
                                            <label class="col-sm-12 col-form-label font-weight-normal">0</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="direccion" class="col-sm-2 col-form-label">Dirección</label>
                                        <div class="col-sm-10">
                                            <label class="col-sm-12 col-form-label font-weight-normal">{{empresa.direccion}} C.P. 7500 Puebla Puebla.</label>
                                            
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="telefono" class="col-sm-2 col-form-label ">Teléfono</label>
                                        <div class="col-sm-10">
                                            <label class="col-sm-12 col-form-label font-weight-normal">{{empresa.telefono}}</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                                        <div class="col-sm-10">
                                            <label class="col-sm-12 col-form-label font-weight-normal">{{empresa.email}}</label> 
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer text-center">
                                    <button class="btn btn-info" (click)="ruta_editar_empresa()" routerLinkActive="router-link-active">Editar Empresa</button>
                                </div>
                                <!-- /.card-footer -->
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-md-12 col-xs-12 text-center align-self-center">
                            <img [src]="srcImagen" alt="" style="width: 550px; height: 400px;" class="img-fluid">
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-1"></div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->