<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="assets/img/logo.png" alt="" class="brand-image" style="opacity: 1">
        <span class="brand-text font-weight-light">Admin</span>
    </a>
    <!-- <a href="#" class="logo">
        <span class="logo-mini">
        <img src="assets/img/logo_min.png" alt="" class="img-responsive" style="padding:10px; opacity: 1">
      </span>
    </a>
    <a href="#" class="logo">
        <span class="logo-lg">
      <img src="assets/img/logo.png" alt="AdminLTE Logo" class="img-responsive" style="padding:10px; opacity: 1">
    </span>
    </a> -->

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="brand-link user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="text-center brand-text font-weight-light">
                Administrador
            </div>
            <div class="info">
                <a href="#" class="d-block"></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a [routerLink]="['administrador/empresa']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="nav-icon fas fa-building"></i>
                        <p>Empresa</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['administrador/politicas']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="nav-icon fas fa-file-powerpoint"></i>
                        <p>Políticas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['administrador/trabajadores']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Trabajadores</p>
                    </a>
                </li>
                <!--<li class="nav-item has-treeview">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            Guias de Referencia
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['guia1a']" routerLinkActive="router-link-active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Guia I</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['guia2a']" routerLinkActive="router-link-active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Guia II</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['guia3a']" routerLinkActive="router-link-active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Guia III</p>
                            </a>
                        </li>
                    </ul>
                </li> -->
                <li class="nav-item has-treeview">
                    <a class="nav-link">
                        <i class="nav-icon fas fa-tasks"></i>
                        <p>
                            Guias de Referencia
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['administrador/guia1']" routerLinkActive="router-link-active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Guia I</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['administrador/guia2']" routerLinkActive="router-link-active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Guia II</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['administrador/guia3']" routerLinkActive="router-link-active" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Guia III</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['administrador/actividades']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>Actividades</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['administrador/documentos']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="nav-icon fas fa-folder-open"></i>
                        <p>Documentos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['administrador/sugerencias']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="nav-icon fas fa-bullhorn"></i>
                        <p>Quejas y Sugerencias</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['administrador/reportes']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="nav-icon fas fa-bars"></i>
                        <p>Reportes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['administrador/estadisticas']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>Estadística</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>