
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1 class="text-center m-5 text-dark">ENCUESTA</h1>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="row">
                       <!--<div class="text-center col-md-4">
                            <img class="profile-user-img img-fluid img-circle" src="../assets/img/logo_emp.png" alt="User profile picture">
                        </div> -->
                        <div class="text-center col-md-12">
                            <h3 class="profile-username text-center">Ha terminado de realizar la evualuación<br>
                                                                     ¡Gracias por su participación!</h3>
                        </div>
                    </div>
                    <hr/>

                    <button (click)="cerrarSesion()" type="button" class="btn btn-primary btn-block"><i class="fas fa-sign-out-alt"></i>Salir</button>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->