<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Guia de Referencia I</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Guia I</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 mt-3 text-center">
                        <span><strong>CUESTIONARIO PARA IDENTIFICAR A LOS TRABAJADORES QUE FUERON SUJETOS A ACONTECIMIENTOS TRAUMÁTICOS SEVEROS</strong></span>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <!-- <div style="height: min-content; vertical-align: bottom; margin: 0px; padding: 0px;">
                        Marque con una "X" a la respuesta que se le indica
                    </div> -->
                    <table class="table table-bordered" *ngFor="let seccion of infoGuia1Service.guia1; let i = index">
                        <thead>
                            <tr class="encabezado-table">
                                <th colspan="2">{{ seccion.seccion }}</th>
                                <th class="text-center">Si</th>
                                <th class="text-center">No</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pregunta of seccion.pregunta; let j = index">
                                <td width="3%">{{ pregunta.num }}</td>
                                <td>{{ pregunta.preg }}</td>
                                <td width="5%">
                                    <div class="form-check"><input class="form-check-input" type="radio" name="radio{{j}}" checked></div>
                                </td>
                                <td width="5%"><span>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="radio{{j}}" checked></div>
                                </span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-1"></div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->

<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
